<div *ngIf="showContent" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 bg_color" [ngStyle]="{
    'background-size': 'cover', 
    'background-repeat': 'no-repeat'}">
    <!-- background-image':'url(\'assets/Images/bg5.jpg\')', -->

    <div #homeSection></div>
    <div class="row justify-content-start align-items-start" id="column_fixed">
        <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1 text-column"></div>

        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 text-column">
            <div class="greeting" id="left_animation">
                Hello, It's Me
            </div>
            <div class="name" id="right_animation">
                Gowtham S
            </div>
            <div class="role">
                <span id="typewriter"></span>
            </div>

            <div class="exp_content" id="left_animation">
                <span>Proficient in Angular framework, with expertise in Angular 2+.
                    In HTML5, CSS3, and JavaScript, with a focus on responsive web design principles.
                    Experienced in utilizing front-end frameworks such as Bootstrap or Foundation to expedite
                    development processes
                </span>
            </div>

            <!-- Service Move -->
            <div #serviceSection></div>
            <!--END  -->

            <div class="down_cv mt-2" id="right_animation">
                <a href="assets/Images/Gowtham's CV.pdf" target="_blank" rel="noopener noreferrer">
                    <button class="down_cv_button">Download CV</button>
                </a>
            </div>


        </div>
    </div>

    <div class="content-slider" id="header-animation">
        <div class="content-wrapper" [style.transform]="getTransformStyle()">
            <div *ngFor="let content of contents" class="content-card">
                <img [src]="content.image" alt="Content Image" class="content-image" />
                <div class="content-details">
                    <h2>{{ content.title }}</h2>
                    <p>{{ content.description }}</p>
                </div>
            </div>
        </div>

        <!-- Skill Move -->
        <div #skillsSection></div>
        <!--END  -->

        <div class="pagination">
            <div *ngFor="let content of contents; let i = index" class="dot" [class.active]="i === currentIndex"
                (click)="changeContent(i)"></div>
        </div>
    </div>

    <div class="row justify-content-center align-items-center">

        <div class="skills" id="skill_animation">
            My Skills
        </div>

        <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1"></div>

        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 text-column text-center" id="left_animation">
            <div class="skill_head">Technical Skill</div>

            <div class="skills-container">
                <div *ngFor="let skill of skills" class="skill" id="chart_animi">
                    <div class="skill-label">
                        <span>{{ skill.icon }} {{ skill.name }}</span>
                        <span>{{ skill.percentage }}%</span>
                    </div>
                    <div class="skill-bar">
                        <div class="skill-bar-fill" [ngStyle]="{ width: skill.percentage + '%' }"></div>
                    </div>
                </div>
            </div>


        </div>

        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 text-column text-center" id="right_animation">
            <div class="skill_head">Professional Skill</div>

            <div class="row">

                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 chart_animi">
                    <div>
                        <apx-chart [series]="cre_chart_per.series" [chart]="cre_chart_per.chart"
                            [plotOptions]="cre_chart_per.plotOptions" [colors]="cre_chart_per.colors"
                            [labels]="cre_chart_per.labels"></apx-chart>
                    </div>

                    <div class="chartLabel">
                        <span>Creativity</span>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 chart_animi">
                    <div>
                        <apx-chart [series]="com_chart_per.series" [chart]="com_chart_per.chart"
                            [plotOptions]="com_chart_per.plotOptions" [colors]="com_chart_per.colors"
                            [labels]="com_chart_per.labels"></apx-chart>
                    </div>

                    <div class="chartLabel">
                        <span>Commuinication</span>
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 chart_animi">
                    <div>
                        <apx-chart [series]="PS_chart_per.series" [chart]="PS_chart_per.chart"
                            [plotOptions]="PS_chart_per.plotOptions" [colors]="PS_chart_per.colors"
                            [labels]="PS_chart_per.labels"></apx-chart>
                    </div>

                    <div class="chartLabel">
                        <span>Problem Solving</span>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 chart_animi">
                    <div>
                        <apx-chart [series]="TW_chart_per.series" [chart]="TW_chart_per.chart"
                            [plotOptions]="TW_chart_per.plotOptions" [colors]="TW_chart_per.colors"
                            [labels]="TW_chart_per.labels"></apx-chart>
                    </div>

                    <!-- Project Move -->
                    <div #projectsSection></div>
                    <!--END  -->

                    <div class="chartLabel">
                        <span>Team Work</span>
                    </div>
                </div>

            </div>

        </div>

        <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1"></div>

    </div>

    <div class="row justify-content-center align-items-center mt-2">

        <div class="skills" id="skill_animation">
            Projects
        </div>

        <div class="row mt-2">
            <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1"></div>
            <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 exp_content text-center" id="skill_animation">
                Skilled in designing and implementing using Angular & IONIC framework
            </div>
            <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1"></div>
        </div>

        <div class="row mt-4" style="gap: 18px;">
            <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1"></div>

            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 project_border" id="right_animation">

                <div class="image_content">
                    <img src="assets/Images/ec.jpg" class="image">
                </div>

                <div class="project_head">
                    E Commerce
                </div>

                <div class="project_content">
                    A simple e-commerce UI built using HTML and CSS, featuring a clean homepage, product listing, and a
                    responsive shopping cart. The design focuses on user-friendly navigation and a visually appealing
                    layout.
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 project_border" id="header-animation">

                <div class="image_content">
                    <img src="assets/Images/vm.png" class="image" style="height: 112px;">
                </div>

                <div class="project_head">
                    Vedha Mattresses
                </div>

                <div class="project_content">
                    Discover premium-quality mattresses for ultimate comfort and support. Explore a range of styles,
                    sizes, and materials to suit your needs. Sleep better, live better!
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 project_border" id="left_animation">

                <div class="image_content">
                    <img src="assets/Images/CRM.jpg" class="image">
                </div>

                <div class="project_head">
                    CRM PROJETS
                </div>

                <div class="project_content">
                    A CRM (Customer Relationship Management) system tailored for machine service management, designed to
                    streamline service processes, track machine performance, and enhance customer satisfaction.
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1"></div>

        </div>

        <div class="row mt-4" style="gap:18px">
            <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1"></div>

            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 project_border" id="right_animation">

                <div class="image_content">
                    <img src="assets/Images/ROI.jpg" class="image">
                </div>

                <div class="project_head">
                    ROI CALCULATOR
                </div>

                <div class="project_content">
                    An ROI (Return on Investment) calculator is a tool used to assess the financial performance of an
                    investment relative to its cost. The profit/loss calculation in this context typically involves
                    comparing the net profit generated by the investment against the initial investment cost, expressed
                    as a percentage.
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 project_border" id="header-animation">

                <div class="image_content">
                    <img src="assets/Images/Survey.jpg" class="image">
                </div>

                <div class="project_head">
                    SURVEY BASED PROJET
                </div>

                <div class="project_content">
                    Our project focuses on analyzing customer feedback through surveys to identify satisfaction levels
                    and improvement areas. Key metrics include product quality, customer service, and overall experience
                    ratings. Insights will help tailor strategies to enhance customer loyalty and engagement
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 project_border" id="left_animation">

                <div class="image_content">
                    <img src="assets/Images/Audit.jpg" class="image" style="height: 118px;">
                </div>

                <div class="project_head">
                    AUDIT & COMPLIANCE
                </div>

                <div class="project_content">
                    Implemented an automated audit tracking system to ensure compliance with industry regulations and
                    company policies. Conducted regular internal reviews to identify gaps and streamline processes.
                    Maintained detailed documentation to support external audits and enhance accountability.
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1"></div>

        </div>

    </div>

    <div #contactSection></div>
    <div class="skills" id="skill_animation">
        Contact
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 centerSetnew">

                <div>
                    <span style="font-weight: bold;font-size: 22px;color:#dddddd">
                        Let's Connect
                    </span>
                </div>

                <div class="mt-2">
                    <span style="color:#dddddd">
                        I'm currently looking for new opportunities, my inbox is always open. Whether you have a
                        question or just want to say hi, I'll try my best to get back to you!
                    </span>
                </div>

                <div class="mt-3" style="display: flex;gap:10px">
                    <div>
                        <a href="https://github.com/Gowtham3112" target="_blank">
                            <img style="width: 35px;" src="assets/Images/git.png">
                        </a>
                    </div>

                    <div>
                        <a href="https://www.linkedin.com/in/gowtham-s-b2b45a202/" target="_blank">
                            <img style="width: 35px;" src="assets/Images/linkedin.png">
                        </a>
                    </div>

                </div>

            </div>

            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
            </div>

            <form [formGroup]="formUser" class="col-xs-12 col-sm-12 col-md-6 col-lg-6 centerSet">

                <div class="row mt-1 setWidth">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="firstForm">

                        <div style="height: 25px;">
                            <span class="labelcss">Email</span>
                        </div>

                        <div>
                            <mat-form-field appearance="outline" style="width: 100%;">
                                <input matInput placeholder="sgowthamprabhu98@gmail.com" type="text"
                                    formControlName="mail">
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <div class="row mt-3 setWidth">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="firstForm">

                        <div style="height: 25px;">
                            <span class="labelcss">Subject</span>
                        </div>

                        <div>
                            <mat-form-field appearance="outline" style="width: 100%;">
                                <input matInput placeholder="Just saying hi" type="text" formControlName="subject">
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <div class="row mt-3 setWidth">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                        <div style="height: 25px;">
                            <span class="labelcss">Message</span>
                        </div>

                        <div>
                            <mat-form-field appearance="outline" style="width: 100%;">
                                <textarea matInput placeholder="Let's talk about..." type="text"
                                    formControlName="subject"></textarea>
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-0 mb-4 buttonsave_center text-center">
                    <span>Send Message</span>
                </div>

            </form>

        </div>
    </div>

    <div class="footer">
        <span>© 2025 Gowtham S. All rights reserved.</span>
    </div>

</div>